@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: League Spartan;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 45px;
}

.card1 {
	display: flex;
	width: 72%;
}

.global1 {
	display: flex;
	flex-direction: column;
	width: 60%;
	gap: 20px;
}

.purple {
	color: #512051;
	font-size: 50px;
	width: 60%;
}

.taille {
	color: #927b91;
	font-size: 19px;
	width: 70%;
}

.global2 {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	gap: 15px;
}

.tt {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f2f7;
	padding: 15px 30px;
	border-radius: 10px;
	gap: 15px;
	color: #512051;
	font-weight: 700;
	font-size: 17px;
}

.st {
	display: flex;
    padding: 3px;
	gap: 5px;
}

.card2 {
	display: flex;
	width: 72%;
	gap: 27px;
}

.box1 {
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 24%;
	background-color: #512051;
	border-radius: 15px;
	color: #ffffff;
	gap: 35px;
}

.tt2 {
	display: flex;
	align-items: center;
	gap: 20px;
}

.pink {
	color: #ee69a4;
}

.box2 {
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 25%;
	background-color: #512051;
	color: #ffffff;
	border-radius: 15px;
	gap: 35px;
}

.box3{
    display: flex;
	flex-direction: column;
	padding: 30px;
    width: 25%;
    background-color: #512051;
	color: #ffffff;
	border-radius: 15px;
    gap: 35px;
}
